﻿#place {
    float: right;
}
h2 {
    padding-top: 60px;
}
#about_me{
    border-bottom: 1px solid gray;
}
#carreer{
    padding-bottom: 25px;
}
body {
    background-color: #16262e;
}
#name{
    padding-left:5%;
}
#icons{
    width:48px;
}
.jumbotron {
    background-image: url(https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg?auto=compress,format,&crop=faces,entropy,edges&fit=crop&q=60&w=750&h=);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px -3px 20px black;
}
footer {
    background-color: #3c7a89;
}
#nav {
    background-color: #2e4756;
}
#img_size{
    width:30px;
}
.row{
    width:100%;
}